# Set USE_QUANTIZATION=1 to enable quantization, or USE_QUANTIZATION=0 to disable it
USE_QUANTIZATION=1

# Set FORCE_CPU=1 to force CPU training, or FORCE_CPU=0 to automatically use GPU if available
FORCE_CPU=1

USE_DP=0

DP_NOISE_MULTIPLIER=1.0

DP_MAX_GRAD_NORM=1.0

DP_DELTA=0.00001